<h1>Order History</h1>

<% @orders.each do |order| %>
  <ul>
    <li>Order Number: <%= order.id %></li>
    <li><%= order.created_at %></li>
    <li><%= pluralize(order.count, 'item') %></li>
    <li><%= link_to "Order Details", order_path(order) %></li>
  </ul>
<% end %>
