<div class="row review">
    <div class="col-md-12">
      <h4>Comment by <%= review.author_name %></h4>
        <span class="pull-right">  <p>Posted <%= distance_of_time_in_words(review.item.created_at, review.created_at) %> ago</p></span>
        <p><%= review.body %></p>
    </div>
</div>
