<h1>Welcome to PogHogs</h1>
<h3>Everything We Got!</h3>

<div>
  <% @categories.each do |category| %>
      <h2 class="category"> <%= category.title %></h2>
          <% category.items.each do |item| %>
              <h3 class="item"><%= link_to  item.title, category_item_path(category, item) %></h3> 
                      <%= image_tag(item.image_path) %>
                      <%= button_to "Add to Cart", carts_path(item_id: item.id), class: "btn btn-danger" %>
          <% end %>
    <% end %>
</div>
