nav {
  background-color: fuchsia;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: yellow;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: yellow;
    text-decoration: none;
  }
}

.home_title {
  text-align: left;
}

.home_blurb {
  text-align: left;
}

.center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}

.right {text-align: right; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}

img {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 100px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#shopnow > a{
  /*-webkit-text-stroke: .5px black;*/
   font-size: 1.7em;
   color: yellow;
   text-shadow:
       /*3px 3px 0 #000,*/
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
