<h1>Admin Dashboard</h1>

<h3 class="greeting">Welcome <%= current_user.first_name %></h3>

<h3>Your Profile</h3>
<p>First Name: <%= current_user.first_name %> </p>
<p>Last Name: <%= current_user.last_name %> </p>
<p>Email: <%= current_user.email %> </p>
